subscription_id = "xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx"
tenant_id = "yyyyyyyy-yyyy-yyyy-yyyy-yyyyyyyyyyyy"
public_ip = ["zzz.zzz.zzz.zzz"]
email = ["foo@bar.example"]
ssh_publickey = "~/.ssh/id_rsa.pub"
